{% extends 'base.html.twig' %}

{% block title %}{% trans %}Créer un groupe{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Créer un groupe{% endtrans %}</h1>

    {{ include('app/band/_form.html.twig') }}

    <a href="{{ path('band_index') }}">{% trans %}Retour à la liste{% endtrans %}</a>
{% endblock %}
