{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nouveau concert{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Créer un nouveau concert{% endtrans %}</h1>

    {{ include('app/concert/_form.html.twig') }}

    <a href="{{ path('concert_index') }}">{% trans %}Retour à la liste{% endtrans %}</a>
{% endblock %}
