$primary: #70af85;
$secondary: #c6ebc9;
$red: #EC7063;

@import "~bootstrap/scss/variables";

$link-hover-decoration: none;

$footer-line-height: 25px;
$footer-height: $footer-line-height * 6;
$footer-padding: 20px;
