{% extends 'base.html.twig' %}

{% block title %}{% trans %}Ajouter un musicien{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Ajouter un musicien{% endtrans %}</h1>

    {{ include('app/member/_form.html.twig') }}

    <a href="{{ path('member_index') }}">{% trans %}Retour à la liste{% endtrans %}</a>
{% endblock %}
